:root{
    --color-heading-secondary: #CDD3DA;
    --color-background-light: #445366;
    --color-background-dark: #283546;
}



html{
    font-size: 62.5%;
}

body{
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 0 0;
  
    letter-spacing: 0.5ch;
    background: var(--color-background-light);
}

.header-section{
    
    position: relative;
    
  
    width: inherit;
    min-width: 1200px;
 
}




/* Header/Main */

.header{
  
    display: grid;
    grid-template-columns: 0.1fr 0.5fr 1fr;
    width: 100%;
    height: 50rem;
   background: #283546;
  padding-top: 9rem;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2)
 
}



/* Name and links */
.header-heading-container>h1{
margin: 20rem 0 0 10rem;
color: #fff;
font-size: 6rem;
position: relative;
font-weight: bold;
text-shadow: 2px 2px 60px #000;
display: inline-block;
}



.header-heading-container>h1::after{
    content: '';
    width: 50%;
    background-color: #1462D4;
    height: 10px;
    position: absolute;
   left: 0;
   bottom: -6px;
}
.linked-in{
    margin: 4rem 0 0 9rem;
    font-size: 6rem;
    color: #fff;
    transition:  0.3s;
    text-shadow: 0px 0px 20px  rgba(0,0,0,0.2);
}

.linked-in:hover, .envelope:hover, .resume-icon>i:hover{
    color: #1462D4;
    transform: scale(1.1);
    
}

.envelope{
    margin: 4rem 0 0 3rem;
    font-size: 6rem;
    color: #fff;
    transition:  0.3s;
    text-shadow: 0px 0px 20px  rgba(0,0,0,0.2);
}

.split-letters{
margin: 5rem 0 0 8rem;
color: #fff;
font-size: 7rem;
font-family: 'Heebo';
text-shadow: 0px 0px 20px  rgba(0,0,0,0.4);
  display: flex;

}
 .split-letters2{
    margin: 0rem 0 0 8rem;
color: #fff;
font-size: 7rem;
font-family: 'Heebo';
text-shadow: 0px 0px 20px  rgba(0,0,0,0.4);
  display: flex;
 }



b{
    transition: transform 0.4s;
}


.N:hover {
    color: #1462D4;
    transform: translateY(-50px);
}

.resume-icon:hover ~ .resume-text{
    color: #1462D4;
    transform: scale(1.1);
}
.resume-section{
    display: inline;
}

.resume-icon i{
    font-size: 5.5rem;
    margin-left: 3rem;
  color: #fff;
  transition: 0.3s;
 text-shadow: 0px 0px 20px  rgba(0,0,0,0.2);
}

.resume-text{
    margin-right: 0rem;
    margin-top: 0.5rem;
    margin-left: 28rem;
    color: #fff;
    font-size: 1rem;
    transition: 0.3s;
    text-shadow: 0px 0px 20px  rgba(0,0,0,0.2);
   
}



  

/* Introduction */

.quote{
    margin-top: 4.5rem;
    margin-right: 2rem;
    margin-left: 5rem;
  
    color: #e2dede;
    font-size: 2.5rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 5rem;
    text-align: left;
    display: block;
    text-shadow: 0px 0px 20px  rgba(0,0,0,0.2);
}

.name-bold{
    
    font-weight: 500;
    font-size: 3.2rem;
    color: #1462D4;
    
}

.introduction-text{
    display: block;
    text-align: left;
    color: #fff;
    position: relative;
    font-weight: 500;
   
    font-size: 4rem;
    
}

.introduction-text::after{
    content: '';
    background-color: #1462D4 ;
    width: 10%;
    height: 0.75rem;
    left: 0rem;
    bottom: -1px;
    position: absolute;
   

}




.header-image{
    width: 43rem;
    height: 50rem;
  filter: 
  drop-shadow(5px 5px 140px  #000);
   
  
    position: relative;
  transform: translateZ(-1px);
}



@media screen and (max-width: 1450px){
    .quote{
        font-size: 2rem;
    }
    .name-bold{
        font-size: 2.2rem;
    }
  
}
@media screen and (max-width: 1330px){
    .quote{
        font-size: 1.5rem;
    }
    .name-bold{
        font-size: 1.7rem;
    }
   
}
@media screen and (max-width: 1250px){
    .quote{
        font-size: 1.3rem;
    }
    .name-bold{
        font-size: 1.5rem;
    }
   
}

@media screen and (max-width: 1300px){
    
    .quote{
        grid-column: span 2;
        font-size: 3rem;
        text-align: left;
        margin-left: 10%;
    }
    .name-bold{
        font-size: 3.2rem;
    }
    .introduction-text{
        color: #fff;
        text-align: left;
        position: relative;
    }
    .introduction-text::after{
        background-color: #283546;
        width: 100%
    }
}


/* Nav Bar */

.nav {
    padding: 0 1rem;;
    width: 70%;
    margin: 0rem auto;
    position: relative;
    padding-top: 10rem;

}



.nav-list{
    list-style: none;
    margin: 0;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    transition: 0.2s;
    flex-wrap: wrap;
    position: relative;
    flex-shrink: 1;
   
}

div ul li{
    transition: transform 0.3s;
    padding: 2rem 4rem;
     border: 2px solid #7d8394;
     border-radius: 25px;
     background-color: #263446;
     box-shadow: 0 0 30px rgba(0,0,0,0.3);;
}

div ul li {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
     text-shadow: 0px 0px 10px  rgba(0,0,0,0.3); 
     cursor: pointer;
     margin: 0 1rem;
}

div ul li::after{
   content: '';
   height: 4px;
   width: 0;
   background: #1462D4;
   position: absolute;
   left: 0;
   top: -55px;
   transition: 0.1s;
   border-radius: 5px;
   box-shadow: 0px 0px 10px  rgba(0,0,0,0.3); 
}

@media screen and (max-width: 1450px){
    .nav-list{
        font-size: 2rem;
    }
}

div ul li:hover{
    transform: scale(1.1)
   
}

.active-link{
    background-color: #7d8394;
    border: 2px solid #263446;
    
}



/* .nav-list::after{
    content: '';
    height: 1rem;
    width: 0;
    background: #283546;
    position: absolute;
    left: 0;
    top: 6rem;
    transition: 0.3s;
    box-shadow: 0px 0px 10px  rgba(0,0,0,0.3); 
    opacity: 0.5;
 } */

.tab-contents{
    display: none;
    
}

 .tab-contents.active-tab{
    display: grid;
    
 }


/* About me */
.about.active-tab{
    background-color: #445366;
    height: fit-content;
    width: auto;
   min-width: 1200px;
    display: grid;
    grid-template-columns: 64% 36%;


    
}

.about-me-text{
    color: #e2dede;
    font-size: 2rem;
    margin-left: 9rem;
    margin-top: 15rem;
   
    
}

.skills.active-tab{
    height: 100rem;
}




@media screen and (max-width: 1350px) {
    .about.about.active-tab{
       grid-template-columns: 100%;
       grid-row: auto;
      
    }
    .about-me-text{
        margin-top: 25rem;
        
    }
   .slide-show{
    display: flex;
    justify-content: center;
   }
   
}




/*SLideshow  */
.slide-show{
    display: flex;
    justify-content: center;
}

.image-slides{
    width: 50rem;
    height: 70rem;
    border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    
     box-shadow:
      0px 0px 20px rgba(0,0,0,0.5);
     
     margin-top: 20rem;
     margin-bottom: 15rem;
     margin-right: 5rem;
     
}


.slides{
    width: 500%;
    height: 70rem;
   display: flex;
  
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
    
}

.slide img{
    width: 55rem;
    height: 70rem;
    
   
}

/* css for manual slide nav */


.navigation-manual {
position: absolute;
margin-top: -4rem;
margin-left: 5rem;
width: 40rem;
display: flex;
justify-content: center;

}

.manual-btn{
    border: 2px solid #1462D4;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 2px #000;
    transform: scale(1.2);
}

.manual-btn:not(:last-child){
    margin-right: 4rem;
}

.manual-btn:hover{
    background: #1462D4;
    transform: scale(1.);
}

#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

/* css for auto nav */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 50rem;
    justify-content: center;
    margin-top: 66rem;
    
}

.navigation-auto div{
    border: 2px solid #1462D4;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 0.3s;
}

.navigation-auto div:not(:last-child){
    margin-right: 4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #1462D4;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #1462D4;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #1462D4;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #1462D4;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #1462D4;
}

/* Skills */


/* Experience */


/* Projects*/

.projects-main{
    width: inherit;
    min-width: 1200px;
    height: 100rem;
    background-color: #283546;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.proj{
    margin-top: 20rem ;
    border: 1px solid #000;
    width: 50rem;
    height: 60rem;
    margin-bottom: 30rem;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    background-color: #445366;
    transition: 0.3s;
    border: 2px solid #7d8394;
}

.proj:hover{
    transform: scale(1.1);
}